:root {
    --white-color :#fff;
    --black-color :#000;
    --text-color :#333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --header-height: 120px;
    --navbar-height: 41px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;/*ke thua box cha*/
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
/*Responsive*/
.grid {
    height: 100%;
    width: 1200px;
    max-width:100% ;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;/*nam ngang*/
    flex-wrap: wrap;/*nhay xuong hang*/
    margin-left: -5px;
    margin-right: -5px;
}
/*Test*/
.grid__colum-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}
.grid__colum-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__colum-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}
/*Animation*/
@keyframes fadeIn {
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth {
    from{
        transform: scale(var(--growth-from));
     }
     to{
         transform: scale(var(--growth-to));
     } 
}
/*modal*/
.modal {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__body {
    --growth-from:0.7;
    --growth-to:1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

/*button style*/
.btn {
    min-width: 124px;
    height: 34px;
    border-radius: 2px ;
    font-size: 1.4rem;
    border: none;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}
/* .btn:hover {
    background-color: #dbdbdb;
} */
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);    
}
.btn.btn--disable {
    color: #8f8c8c;
    cursor: default;
    /* filter: brightness(80%); */
    background-color: #bdbaba;
}
.btn.btn--size-s {
    height: 30px;
    font-size: 12px;
    width: 100%;
} 
/*Selection*/
.select-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    min-width: 180px;
    padding: 0 12px ;
    border-radius: 2px;
    background-color: var(--white-color);
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131,131,131);
    position: relative;
    top: 1px;
}
/*Select giá*/
.select-input__list {
    position: absolute;
    z-index: 1;
    min-width: 180px;
    top: calc(100% + 1px);
    background-color: var(--white-color);
    border-radius: 2px;
    left: 0;
    padding: 8px 16px;
    margin: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: none;
}

.select-input__list::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 180px;
    top: -8px;
    left: 0;
    /* background-color: red; */
    display: block;
}
.select-input__list:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    
}
.select-input__list:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.select-input__item {
    list-style: none;
    padding: 8px 0;
    cursor: pointer;
}

.select-input__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.select-input__item:hover .select-input__link {
    cursor: pointer;
    color: var(--primary-color);
}
.select-input:hover  .select-input__list {
    display: block;
}
/*Pagination*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item {
    list-style: none;
    --height: 30px;
    min-width: 40px;
    height: var(--height);
    line-height: 1.4rem;
    margin: 0 12px;

}
.pagination-item--active  .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
    
}
.pagination-item--active  .pagination-item__link:hover {
    filter: brightness(90%);/*chinh do sang*/
}
.pagination-item__link {
    display: block;
    line-height: var(--height);
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    border-radius: 2px;
}
