.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item {
    display: flex;
    align-items: center;
    margin: 4px 8px;
    position: relative;
    height: 24px;
    display: inline-block;
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar-item--has-notifi:hover  .header__notifi {
    display: block;
}
.header__navbar-item-link {
    margin: 4px 8px;
}
.header__navbar-item,
.header__navbar-item-link {
    display:block ;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link  {
    display: inline-flex; 
}
.header__navbar-icon-link {
    padding: 4px 0;
}
.header__navbar-icon-link:nth-child(2) {
    margin-left: 2px;
}
.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,0.7);;
}
.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #fff;
    height: 14px;
    right: -9px;
    top: 33%;
    transform: translateY(-25%);
}
.header__navbar-title--no-pointer {
    margin: 4px;
    cursor: text;
    color: var(--white-color);
}
/*User*/
.header__navbar-user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 8px;
}
.header__navbar-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0 ,0,0,0.1);
}
.header__navbar-user-name {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-left: 4px;
    font-weight: 400;
    transform: translateY(+1px);
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
/*User menu*/
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top:calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-item {
    border-top: 1px solid #d1cbcb;
}
.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    align-items: center;
    display:block;
    padding: 8px 16px;
}
.header__navbar-user-icon {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300; 
    margin-left: 4px;
}
.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover {
    background-color: #e9e1e1;
    color: var(--primary-color);
}
.header__navbar-user-item a:hover .header__navbar-user-icon {
    color: var(--primary-color);
}
.header__navbar-user-menu::before {
    content: "";
    border-width: 10px 15px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 16px;
    top:-16px ;
}
/*lớp giả cầu nối*/
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    right: 0;
    top: -16px; 
}
/*Header QR*/
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 118%;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in 1s;
    box-shadow: 0 1px 2px rgba(0 ,0,0,0.1);
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 18px;
    /* background-color: #f53e2d; */
    left: 0;
    top: -15px;
}
.header__qr-img {
    width: 100%;
    border-radius: 2px;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img {
    height: 15px; 
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-right: 11px;
}
/*Header__notification*/
.header__notifi {
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    min-width: 404px;
    border-radius: 2px;
    border: 1px solid #fdf9f9;
    background-color: var(--white-color);  
    transform-origin:calc(100% - 32px) top ; 
    animation:headerNotifiGrowth ease-in 0.2s ;
    will-change: opacity ,transform;/*khai bao su thay doi*/
    display: none; 
}
.header__notifi::before {
    content: "";
    border-width: 20px 25px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top:-30px ;
}
/*lớp giả cầu nối*/
.header__notifi::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px; 
}

@keyframes headerNotifiGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notifi-header {
    height: 40px;
    background-color: var(--white-color);     
}
.header__notifi-header  h3 {
    color: #999;
    margin:0 0 0 12px ;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}
.header__notifi-list {
    padding-left: 0;
}
.header__notifi-item {
    display: flex;
}
.header__notifi-item--viewed {
    background-color: rgba(238, 77, 45, 0.09);
}
.header__notifi-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}
.header__notifi-img {
    width: 10%;
    object-fit: contain;
}
.header__notifi-info {
    margin:0 0 0 12px;
    text-decoration: none;
}
.header__notifi-link:hover {
    background-color: #d3d3d370;
}
.header__notifi-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}
.header__notifi-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #756f6e; 
    margin-top: 4px; 
}
.header__notifi-footer {
    width: 100%;
    border-top:1px ;
    display: flex;
    
}
.header__notifi-footer a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 32px; 
    margin: auto;   
}
.header__notifi-footer:hover {
    background-color: #d3d3d370;
}

/*Auth-form*/
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;

}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form {
    margin-top: 16px;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    padding-left:12px ;
    margin-bottom: 16px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #999;/*doi mau outline*/
}
.auth-form__aside {
    margin:16px 0 ;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back {
    margin-right: 8px;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content:space-between; 
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--fb
.auth-form__socials-icon{
    padding-right: 18px;
    color: var(--white-color); 
}
.auth-form__socials--fb {
    margin: 0 8px;
    color: var(--white-color);
    background-color: #0845ca;
}
.auth-form__socials--fb:hover.auth-form__socials--fb{
    color: var(--black-color);
    background-color: #06996d;
}
.auth-form__socials--gg
.auth-form__socials-icon{
    padding-right: 18px;
    color: var(--primary-color);
}
.auth-form__socials--gg {
    margin: 0 8px;
    color: var(--black-color);
    background-color: #7e7979;
}
.auth-form__socials--gg:hover.auth-form__socials--gg{
    background-color: #06996d;
}
/*Log in*/
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link { 
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 14px;
    border-left: 1px solid var(--black-color);
    margin: 0 16px;
}
.auth-form__help-forgot {
    color: var(--primary-color);
}
/*Header with search*/
.header-with-search {
    width: 100%;
    height:var(--header-with-search-height);
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* margin: 8px; */
}
.header__logo {
    width: 200px;
    
}
.header__logo-link {
    text-decoration: none;
    color: transparent;
}
.header__logo-img {
    width: 150px;
    color: var(--white-color);
    
}
.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    height: 40px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 2px 16px;
    text-align: left;
}

.header__cart {
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 12px; 
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;  
}
.header__cart-notice {
    position: absolute;
    right: -6px;
    top: -13px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 2px solid #f53e2d;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}
/*DS sản phẩm*/
.header__cart-list {
    position: absolute;
    z-index: 1;
    width: 400px;
    top:calc(100% + 6px);
    right: -3px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125px 0 rgba(0 ,0,0,0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}
.header__cart-list::after {
    content: "";
    position: absolute;
    right: -1px;
    top: -30px;
    border-width:20px  24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
/*No cart*/
.header__cart-list--no-cart {
    padding:24px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart--msg 
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
    border: 1px solid #e8e8e8;
}
.header__cart-no-cart--msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);  
}
/*Has cart*/
.header__cart-heading {
   text-align: left;
   margin-left: 12px;
   font-size: 1.4rem;
   font-weight: 400;
   color: #999;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 60vh;/*view port height*/
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f7f1f1;
    cursor: pointer;
}
.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-info {
    width: 100%;
    margin: 12px 12px 12px 0;
    
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name {
    line-height: 2rem;
    max-height: 4rem;
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    overflow: hidden;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-line-orient: vertical;
    -webkit-line-clamp:2;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header_cart-item-mutiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}
.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;

}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}
.header__cart-view-cart {
    float:right;
    margin: 0 12px 12px 0 ;
}
.header__cart-view-cart:hover{
    background-color: #f05d41 !important;
}
/*Select*/
.header__search-select {
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-colortext);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 6px;
    position: relative;
    top: 1px;
    cursor: pointer;
} 
.header__search-btn {
    width: 60px;
    height: 34px;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    margin-right: 3px;
    border-radius: 2px;
}
.header__search-btn-icon {
    display: flex;
    align-items: center;
    font-size: 1.6rem; 
    color: var(--white-color);
}
.header__search-btn:hover {
    background-color: rgb(231, 90, 62);
    cursor: pointer;
}
.header__search-select:hover 
.header__search-option {
    display: block;
}
.header__search-option {
    top: calc(100% + 1px);
    width: 130px;
    position: absolute;
    z-index: 1;
    right: 0;
    list-style: none;
    transform: translateY(5px);
    box-shadow: 0 1px 2px #dbd9d9;
    padding-left: 0;
    animation: fadeIn ease-in 0.5s;
    display: none;
}
.header__search-option::after {
    content: "";
    height: 25px;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    left: 0;
    top: -20px;
    display: block;
}
.header__search-option-item {
    background-color: var(--white-color);
    padding: 12px 16px;
    transform: translateX(3px);
}
.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 2px 0 8px;
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}
/* .header__search-option-item--active span {
    margin-left: 16px;
} */
/*header__search-history*/

.header__search-input:focus ~ .header__search-history {
    display: block;
}
.header__search-history {
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + 4px);
    width:calc(100% - 32px) ;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #99999999;
    overflow: hidden;
    display: none;
}
.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color:#999;
}
.header__search-history-list {
    padding-left: 0;/*thẻ li luôn có padding-left nên ta cần bỏ*/
    list-style: none;
    margin:6px 0 0;
}
.header__search-history-item {
    width: 100%;
    height: 38px;
}

.header__search-history-item:hover {
    cursor: pointer;
    background-color: #d1cbcb;
}
.header__search-history-item a{
    display: block;
    font-size: 1.4rem;
    line-height: 38px;
    text-decoration: none;
    color: var(--text-color);
}
/*App Container*/
.app__container {
    background-color: #e6e2e2;
}
.app__content {
    padding-top: 36px;
}
.category {
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}
.category-list {
    padding: 0 0 8px 0 ;
    list-style: none;
}
.category-item {
    position: relative;
}
.category-item:first-child::before {
   border-top: none;
}
.category-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}

.category-item__active .category-item__link {
    color: var(--primary-color);
}
.category-item__link {
    position: relative;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 20px;
    text-transform: uppercase;
}
.category-item__link:hover {
    color: var(--primary-color);
}
/*Home sort +filter*/
.home-filter {
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
    background-color: rgba(0,0,0,0.04);
}
.home-filter-label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    min-width: 90px !important;
    margin-right: 12px;
}
.home-filter__page {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.home-filter__page a {
    text-decoration: none;
}
.home-filter__page-number {
    font-size: 1.4rem;
    margin-right: 22px;
    color: var(--text-color);
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;

}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/*porduct-item*/

.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    position: relative;
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius:2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition:transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}
.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius:2px ;
    border-top-right-radius: 2px;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px ;
    height: 3.6rem;
    /*Tạo 3 chấm ngắt dòng*/
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;/*Xuống dòng khi quá dài*/
}
.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration-line: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;

}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none ;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display:none;
}
.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin:-1px 0 0 auto;

}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__star--gold {
    color: rgb(233, 233, 4);
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin:6px 10px 0;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 200;
    margin-top: 6px;
}
.home-product-item__origin-name {
    margin-left: auto;
}
.home-product-item__favorites {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorites::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);/*chinh do sang*/
}
.home-product-item__favorites span {
    color: var(--white-color);
}
.home-product-item__favorites  i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 4px;
}
.home-product-item__sale-off {
    position: absolute;
    height: 36px;
    width: 40px;
    top: 0;
    right: 0;
    background-color: rgb(255, 216, 64,1);
    border-top-right-radius: 2px;
    text-align: center;
}
.home-product-item__percent {
    color: #ee4d2d;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
}
.home-product-item__sale-off-label {
    line-height: 1.3rem;
    font-size: 1.3rem;
    color: var(--white-color);
    position: relative;
    top: 3px;
}
.home-product__pagination {
    margin: 48px 0 32px;
}
/*footer*/
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list {
    padding-left: 0;
    list-style: none;
}
.footer-tem__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
}
.footer-tem__link:hover {
    color: var(--primary-color);
}
.footer-tem__icon {
    font-size: 1.6rem;
    margin: -2px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 80px;
    height: 80px;
    /* object-fit: contain; */ 
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}
.footer__download-app-link {
    text-decoration: none;
}
.footer__download-app-img {
    height: 16px;
}
.footer__bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer__text {
    margin:0 ;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}